@keyframes changeBgColor {
    0% {background-color: pink;
    border-radius: 31% 69% 31% 69% / 27% 47% 53% 73% ;
    box-shadow: 0 0 40px purple;}

    50% {background-color: rgb(124, 26, 124);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    box-shadow: 0 0 40px yellow;}

    100% {background-color: rgb(255, 255, 2);
    border-radius: 73% 27% 76% 24% / 27% 61% 39% 73%  ;
    box-shadow: 0 0 40px pink;}
}

@keyframes falling {
    0% {transform: translate(0px, 0px);}

    50% {transform: translate(50px, 40px)linear;   
    transform: rotate(-40deg);} 

    100% {transform: translate(130px, 80px);}
}

@keyframes spinningMoon {
    0% {transform: rotate(0deg);} 

    100% {transform: rotate(360deg);} 
    
}