@use "base";
@use "animations";


body {
    width: 100%;
    background: base.$primaryBackground;
}

header {
    width: 100%;
    height: 150px;
    background-color: base.$primaryColor;
    #logo_dark {
        width: 250px;
        max-width: 60%;
        max-height: 140px;
        position: relative;
        top: 10px;
        left: 20px;        
    }
    #logo_light {
        display: none;
    }
}

//dölj dropdownmenyn på större skärmar än 800 pixlar
#open-menu,
#nav-menu {
    display: none;
}

//navigeringen för större skärmar än 800 pixlar
#nav-bigscreen {

    width: 100%;
    background-color: base.$lighterColor;
    height: 50px;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }

    a {
        color: base.$darkerColor;
        font-size: 1.4em;
        font-weight: bolder;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: base.$primaryColor;
            cursor: pointer;
        }
    }
}

.activated {
    text-decoration: underline;
}

#main_index {

    h1,
    h2 {
        @include base.flexCenter();
        padding-top: 55px;
        color: base.$darkerColor;
        max-width: 100%;
    }

    section {
        max-width: 1000px;
        margin: auto;
        padding: 100px 0;

        img {
            max-width: 90%;
            width: 700px;
            display: block;
            margin: auto;
            box-shadow: 0 0 50px;
            border-radius: base.$roundedCornersPics;
        }
    }
}

#main_sass {
    @extend #main_index;
    h1 {
        padding-top: 70px;
    }

    section {
        width: 800px;
        max-width: 80%;
        padding-top: 0
    }
    p {
        @extend h2;
    }
}

#main_animation {

    background-color: black;
    height: 200vh;

    @extend #main_index;
    h1 {
        padding-top: 70px;
        color: white;
    }
}



#animation-container{
    
    background-color: black;
    width: 100%;
    

    h1 {
        z-index: 1;
        padding: 100px 0 0 0;
        font-size: 50px;
        transition: 1s ease;
    }

    h1:hover {
        font-size: 100px;
        font-weight: bolder;
        color: rgb(247, 165, 179);
        text-shadow: 0 0 40px pink;
        cursor: pointer;
    }
    img {
        width: 90%;     
        max-width: 700px;  
        display: flex;
        margin: auto;
        padding-top: 200px;
        
    }

    img:hover {
        cursor: pointer;
        animation-name: spinningMoon; 
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    #astro {
        width: 150px;
        position: fixed;
        top: 600px;
        left: 300px;
        animation-name: falling;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        z-index: 2;
    }
}

#animation1 {
    position: absolute;
    top: 350px;
    left: 100px;
   
    height: 200px;
    width: 200px;
    animation-name: changeBgColor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    img {
        width: 100px;
        padding: 40px 0 0 40px;
    }
}

#main_diagram {
    @extend #main_sass;
    h1 {
        padding-bottom: 60px;;
    }

}

#stapelChart {
    width: 800px;
    max-width: 90%;
    margin: auto;
}

#doughnutChart {
    @extend #stapelChart;
    margin-top: 200px;
    margin-bottom: 200px;
}

#main_map {
    @extend #main_sass;

    #searchSection {
        width: 1000px;
        max-width: 100%;
        margin: auto;

        input {
            width: 60%;
            height: 31px;
            margin-top: 30px;
        }
        button {
            width: 50px;
            height: 35px;
        }
    }
    iframe {
        height: 50vh;
        max-height: 800px;
        width: 800px;
        max-width: 90%;
        margin: 30px 0 0 0;
    }
}

//annat färgschema för mörkt tema
@media (prefers-color-scheme:dark) {
    body {
        background-color: base.$primaryBackgroundDark;
    }
    header {
        background-color: base.$headerDark;
        #logo_dark {
            display:none;
        }
        #logo_light {
            width: 200px;
            max-width: 50%;
            padding-left: 20px;
            padding-top: 5px;
            display: block;
        }
    }

    @if (prefers-color-scheme:dark) {
       
        p {
            font-size: 1.6em;
            font-weight: bold;
        }
        section {
            img {
                padding: 10px;
            }
        }
    }
}


//annan navigeringsmeny för mindre skärmar
@media screen and (max-width: 800px) {

    //dölj navigeringen för de större skärmarna
    #nav-bigscreen {
        display: none;
    }

    header {
        height: 150px;

        img {
            width: 250px;
            max-width: 50%;
        }
    }

    //dropdown meny
    #nav-menu {
        min-width: 300px;
        width: 100%;
        height: 70vh;
        background-color: base.$lighterColor ;
        position: absolute;
        top: 0;
        right: 0;
        display: none; // denna togglas mellan block och none för att visa och gömma menyn
        z-index: 10;

        ul {
            position: relative;
            top: 120px;
            width: 100%;
            text-align: center;
            list-style-type: none;
        }

        li {
            padding: 20px 0;
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: base.$primaryColor;
            }
        }

        a {
            text-decoration: none;
            color: base.$darkerColor;
            font-size: 1.6em;
            font-weight: bolder;
            padding: 20px 40%;
        }
    }

    // Meny-knappen för att öppna dropdown menyn
    #open-menu {
        //flexibel display för att öppna och stänga meny
        display: flex;
        background-color: base.$lighterColor ;
        padding: 13px;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 30px;
        box-shadow: none;
        border: none;
        border-radius: 15px;
    }


    //hamburgemenyn strecken
    .bars {
        width: 45px;
        height: 5px;
        border-radius: 10px;
        display: block;
        background-color: base.$darkerColor;
        margin: 7px 0;
    }

    //stängknappen
    #close-menu {
        display: flex;
        margin: 2% 2%;
        padding: 20px 20px;
        position: absolute;
        top: 30px;
        right: 25px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        border-radius: 15px;
        background-color: base.$lighterColor;

        &:hover {
            background-color: base.$primaryColor;
        }

        .cross1 {
            transform: rotate(45deg);
            position: relative;
            top: 7px;
            width: 30px;
            background-color: base.$darkerColor;
            padding: 2%;
        }

        .cross2 {
            transform: rotate(135deg);
            position: relative;
            top: -6px;
            width: 30px;
            background-color: base.$darkerColor;
            padding: 2%;
        }
    }
}